Repository PEtab-dev/libpetab-python, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PEtab-dev/libpetab-python-maintainers, @plakrisenko, @dilpath, @yannikschaelte, @dweindl

.github/CODEOWNERS:

# see https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# default owners
* @PEtab-dev/libpetab-python-maintainers

/petab/visualize/ @plakrisenko
/tests/test_vis* @plakrisenko
/petab/simulate.py @dilpath
/tests/test_simulate.py @dilpath
/petab/calculate.py @yannikschaelte
/tests/test_calculate.py @yannikschaelte
/doc/ @dweindl

Fix PySBModel.get_parameter_value
  petab/models/pysb_model.py
Owners: @PEtab-dev/libpetab-python-maintainers

Fix PySBModel.get_parameter_value (#203)
  petab/models/pysb_model.py
Owners: @PEtab-dev/libpetab-python-maintainers

Fix Problem.to_files(model_file=...)
  petab/problem.py
Owners: @PEtab-dev/libpetab-python-maintainers

typo
  petab/problem.py
Owners: @PEtab-dev/libpetab-python-maintainers

Fix Problem.to_files(model_file=...) (#204)
  petab/problem.py
Owners: @PEtab-dev/libpetab-python-maintainers

Readme: py39
  README.md
Owners: @PEtab-dev/libpetab-python-maintainers

Bump version; update changelog
  CHANGELOG.md
  petab/version.py
Owners: @PEtab-dev/libpetab-python-maintainers

optional id
  petab/models/sbml_model.py
Owners: @PEtab-dev/libpetab-python-maintainers

GHA/pypi: trusted publishing
  .github/workflows/deploy.yml
Owners: @PEtab-dev/libpetab-python-maintainers

Fix IndexError during test_visualization_with__t_inf
  petab/visualize/plotter.py
Owners: @plakrisenko

..
  .github/workflows/deploy.yml
Owners: @PEtab-dev/libpetab-python-maintainers

..
  petab/visualize/plotter.py
Owners: @plakrisenko

Fix IndexError during test_visualization_with__t_inf (#209)
  petab/visualize/plotter.py
Owners: @plakrisenko

Make `SbmlModel.from_file(..., model_id)` optional (#207)
  petab/models/sbml_model.py
Owners: @PEtab-dev/libpetab-python-maintainers

GHA/pypi: trusted publishing (#208)
  .github/workflows/deploy.yml
Owners: @PEtab-dev/libpetab-python-maintainers

Filter/expect/prevent warnings in test suite
  pytest.ini
  tests/test_deprecated.py
  tests/test_model_pysb.py
  tests/test_sbml.py
  tests/test_visualization.py
Owners: @PEtab-dev/libpetab-python-maintainers, @plakrisenko

Filter/expect/prevent warnings in test suite (#210)
  pytest.ini
  tests/test_deprecated.py
  tests/test_model_pysb.py
  tests/test_sbml.py
  tests/test_visualization.py
Owners: @PEtab-dev/libpetab-python-maintainers, @plakrisenko

v0.2.2, changelog
  CHANGELOG.md
  petab/version.py
Owners: @PEtab-dev/libpetab-python-maintainers

Fix missing inplace=True in validation of visualization tables
  petab/visualize/lint.py
Owners: @plakrisenko

Fix missing inplace=True in validation of visualization tables (#214)
  petab/visualize/lint.py
Owners: @plakrisenko

Make validate_visualization_df work without matplotlib installation
  petab/visualize/__init__.py
Owners: @plakrisenko

Update petab/visualize/__init__.py
  petab/visualize/__init__.py
Owners: @plakrisenko

Make validate_visualization_df work without matplotlib installation (#215)
  petab/visualize/__init__.py
Owners: @plakrisenko

Release 0.2.3
  CHANGELOG.md
  petab/version.py
Owners: @PEtab-dev/libpetab-python-maintainers

Handle DataFrame/None as input to get_visualization_df
  petab/core.py
Owners: @PEtab-dev/libpetab-python-maintainers

..
  petab/core.py
Owners: @PEtab-dev/libpetab-python-maintainers

Customizable figure size
  petab/visualize/plotting.py
Owners: @plakrisenko

Handle DataFrame/None as input to `get_visualization_df` (#221)
  petab/core.py
Owners: @PEtab-dev/libpetab-python-maintainers

Customizable figure size (#222)
  petab/visualize/plotting.py
Owners: @plakrisenko

Handle missing nominalValue in Problem.get_x_nominal
  petab/problem.py
  tests/test_petab.py
Owners: @PEtab-dev/libpetab-python-maintainers

Handle missing nominalValue in Problem.get_x_nominal (#223)
  petab/problem.py
  tests/test_petab.py
Owners: @PEtab-dev/libpetab-python-maintainers

flake8 / black compatibility
  .flake8
Owners: @PEtab-dev/libpetab-python-maintainers

Fix pandas 2.1.0 FutureWarnings
  petab/calculate.py
  petab/simplify.py
  petab/visualize/data_overview.py
  petab/visualize/lint.py
  tests/test_conditions.py
  tests/test_lint.py
  tests/test_petab.py
Owners: @yannikschaelte, @PEtab-dev/libpetab-python-maintainers, @plakrisenko

..
  .flake8
Owners: @PEtab-dev/libpetab-python-maintainers

Fix pandas 2.1.0 FutureWarnings (#226)
  .flake8
  petab/calculate.py
  petab/simplify.py
  petab/visualize/data_overview.py
  petab/visualize/lint.py
  tests/test_conditions.py
  tests/test_lint.py
  tests/test_petab.py
Owners: @PEtab-dev/libpetab-python-maintainers, @yannikschaelte, @plakrisenko

Customizable figure size (#222)
  petab/visualize/plotting.py
Owners: @plakrisenko

Fix pandas 2.1.0 FutureWarnings (#226)
  .flake8
  petab/calculate.py
  petab/simplify.py
  petab/visualize/data_overview.py
  petab/visualize/lint.py
  tests/test_conditions.py
  tests/test_lint.py
  tests/test_petab.py
Owners: @PEtab-dev/libpetab-python-maintainers, @yannikschaelte, @plakrisenko

Handle missing nominalValue in Problem.get_x_nominal (#223)
  petab/problem.py
  tests/test_petab.py
Owners: @PEtab-dev/libpetab-python-maintainers

Version 0.2.4, release notes
  CHANGELOG.md
  petab/version.py
Owners: @PEtab-dev/libpetab-python-maintainers

Update copyright year
  doc/conf.py
Owners: @dweindl
