Repository PEtab-dev/libpetab-python, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PEtab-dev/libpetab-python-maintainers, @m-philipps, @dilpath, @dweindl

.github/CODEOWNERS:

# see https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# default owners
* @PEtab-dev/libpetab-python-maintainers

/petab/visualize/ @m-philipps
/tests/test_vis* @m-philipps
/petab/simulate.py @dilpath
/tests/test_simulate.py @dilpath
/doc/ @dweindl
/doc/example @m-philipps
/doc/example/example_petablint.ipynb @dweindl

Deprecated petablint with individual tables
  petab/petablint.py
Owners: @PEtab-dev/libpetab-python-maintainers

Update petab/petablint.py
  petab/petablint.py
Owners: @PEtab-dev/libpetab-python-maintainers

..
  petab/petablint.py
Owners: @PEtab-dev/libpetab-python-maintainers

setup.py -> pyproject.toml
  MANIFEST.in
  pyproject.toml
  setup.py
Owners: @PEtab-dev/libpetab-python-maintainers

safe
  .pre-commit-config.yaml
  petab/calculate.py
  petab/composite_problem.py
  petab/conditions.py
  petab/core.py
  petab/lint.py
  petab/measurements.py
  petab/models/model.py
  petab/models/pysb_model.py
  petab/models/sbml_model.py
  petab/observables.py
  petab/parameter_mapping.py
  petab/parameters.py
  petab/problem.py
  petab/sampling.py
  petab/sbml.py
  petab/simulate.py
  petab/visualize/helper_functions.py
  petab/visualize/plot_data_and_simulation.py
  petab/visualize/plot_residuals.py
  petab/visualize/plotter.py
  petab/visualize/plotting.py
  petab/yaml.py
  pyproject.toml
  tests/test_parameters.py
  tests/test_petab.py
  tests/test_simulate.py
Owners: @PEtab-dev/libpetab-python-maintainers, @dilpath, @m-philipps

..
  petab/calculate.py
  petab/composite_problem.py
  petab/conditions.py
  petab/core.py
  petab/lint.py
  petab/mapping.py
  petab/measurements.py
  petab/models/pysb_model.py
  petab/models/sbml_model.py
  petab/observables.py
  petab/parameter_mapping.py
  petab/parameters.py
  petab/sbml.py
  petab/simulate.py
  petab/visualize/data_overview.py
  petab/visualize/plot_data_and_simulation.py
  petab/visualize/plot_residuals.py
  petab/visualize/plotter.py
  petab/visualize/plotting.py
  petab/yaml.py
Owners: @PEtab-dev/libpetab-python-maintainers, @dilpath, @m-philipps

..
  pyproject.toml
Owners: @PEtab-dev/libpetab-python-maintainers

..
  .pre-commit-config.yaml
  petab/calculate.py
  petab/lint.py
  petab/measurements.py
  petab/observables.py
  petab/parameter_mapping.py
  petab/parameters.py
  petab/problem.py
  petab/visualize/plotter.py
Owners: @PEtab-dev/libpetab-python-maintainers, @m-philipps

..
  tests/test_parameters.py
  tests/test_petab.py
Owners: @PEtab-dev/libpetab-python-maintainers

..
  petab/visualize/plotter.py
Owners: @m-philipps

..
  petab/calculate.py
Owners: @PEtab-dev/libpetab-python-maintainers

Doc: versioning and deprecation policy
  doc/development.rst
  doc/index.rst
Owners: @dweindl

..
  doc/development.rst
Owners: @dweindl

Ruff pyupgrade: python3.10 (#276)
  petab/calculate.py
  petab/composite_problem.py
  petab/conditions.py
  petab/core.py
  petab/lint.py
  petab/mapping.py
  petab/measurements.py
  petab/models/model.py
  petab/models/pysb_model.py
  petab/models/sbml_model.py
  petab/observables.py
  petab/parameter_mapping.py
  petab/parameters.py
  petab/problem.py
  petab/sampling.py
  petab/sbml.py
  petab/simulate.py
  petab/visualize/data_overview.py
  petab/visualize/helper_functions.py
  petab/visualize/plot_data_and_simulation.py
  petab/visualize/plot_residuals.py
  petab/visualize/plotter.py
  petab/visualize/plotting.py
  petab/yaml.py
  pyproject.toml
  tests/test_parameters.py
  tests/test_petab.py
  tests/test_simulate.py
Owners: @PEtab-dev/libpetab-python-maintainers, @dilpath, @m-philipps

..
  pyproject.toml
Owners: @PEtab-dev/libpetab-python-maintainers

Handle bool<->float
  petab/math/PetabMathExprParser.g4
  petab/math/SympyVisitor.py
  petab/math/_generated/PetabMathExprParser.interp
  petab/math/_generated/PetabMathExprParser.py
  petab/math/_generated/PetabMathExprParserVisitor.py
  tests/math/math_tests.yaml
  tests/math/test_math.py
Owners: @PEtab-dev/libpetab-python-maintainers

setup.py -> pyproject.toml (#275)
  MANIFEST.in
  pyproject.toml
  setup.py
Owners: @PEtab-dev/libpetab-python-maintainers

always float
  petab/math/SympyVisitor.py
  petab/math/sympify.py
  tests/math/math_tests.yaml
Owners: @PEtab-dev/libpetab-python-maintainers

Handle symbolic expressions
  tests/math/test_math.py
Owners: @PEtab-dev/libpetab-python-maintainers

boolean not
  petab/math/SympyVisitor.py
Owners: @PEtab-dev/libpetab-python-maintainers

Test cases from test suite repo
  tests/math/math_tests.yaml
  tests/math/test_math.py
  tox.ini
Owners: @PEtab-dev/libpetab-python-maintainers

Lexer listener
  petab/math/sympify.py
  tests/math/test_math.py
Owners: @PEtab-dev/libpetab-python-maintainers

error on complex
  petab/math/SympyVisitor.py
  petab/math/sympify.py
  tests/math/test_math.py
Owners: @PEtab-dev/libpetab-python-maintainers

log(0)
  petab/math/SympyVisitor.py
Owners: @PEtab-dev/libpetab-python-maintainers

Fix real=True, fix test tables
  petab/calculate.py
  tests/test_calculate.py
Owners: @PEtab-dev/libpetab-python-maintainers

Update petab/math/sympify.py
  petab/math/sympify.py
Owners: @PEtab-dev/libpetab-python-maintainers

rename, fix pow
  petab/math/PetabMathExprLexer.g4
  petab/math/SympyVisitor.py
  petab/math/_generated/PetabMathExprLexer.interp
  petab/math/_generated/PetabMathExprLexer.py
  petab/math/_generated/PetabMathExprLexer.tokens
  petab/math/_generated/PetabMathExprParser.interp
  petab/math/_generated/PetabMathExprParser.py
  petab/math/_generated/PetabMathExprParser.tokens
Owners: @PEtab-dev/libpetab-python-maintainers

Deprecate petablint with individual tables (#274)
  petab/petablint.py
Owners: @PEtab-dev/libpetab-python-maintainers

simplify
  petab/math/SympyVisitor.py
Owners: @PEtab-dev/libpetab-python-maintainers

cleanup
  petab/math/regenerate.sh
  petab/math/sympify.py
  tests/math/test_math.py
Owners: @PEtab-dev/libpetab-python-maintainers

Validator: check for positive bounds for log-scaled parameter
  petab/lint.py
  tests/test_lint.py
Owners: @PEtab-dev/libpetab-python-maintainers

Validator: check prior parameters
  petab/lint.py
Owners: @PEtab-dev/libpetab-python-maintainers

Refactor Problem.from_yaml, extract get_path_prefix
  petab/problem.py
  petab/yaml.py
  tests/test_yaml.py
Owners: @PEtab-dev/libpetab-python-maintainers

Validator: check prior parameters (#279)
  petab/lint.py
Owners: @PEtab-dev/libpetab-python-maintainers

..
  tests/test_yaml.py
Owners: @PEtab-dev/libpetab-python-maintainers

Update petab/yaml.py
  petab/yaml.py
Owners: @PEtab-dev/libpetab-python-maintainers

Refactor Problem.from_yaml, extract get_path_prefix (#280)
  petab/problem.py
  petab/yaml.py
  tests/test_yaml.py
Owners: @PEtab-dev/libpetab-python-maintainers

priors
  petab/lint.py
Owners: @PEtab-dev/libpetab-python-maintainers

doc, prettify
  petab/math/PetabMathExprParser.g4
  petab/math/SympyVisitor.py
  petab/math/_generated/PetabMathExprParser.interp
  petab/math/_generated/PetabMathExprParser.py
  petab/math/_generated/PetabMathExprParserVisitor.py
  petab/math/sympify.py
Owners: @PEtab-dev/libpetab-python-maintainers

Update petab/math/SympyVisitor.py
  petab/math/SympyVisitor.py
Owners: @PEtab-dev/libpetab-python-maintainers
