Repository PEtab-dev/libpetab-python, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PEtab-dev/libpetab-python-maintainers, @plakrisenko, @dilpath, @yannikschaelte, @dweindl

.github/CODEOWNERS:

# see https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# default owners
* @PEtab-dev/libpetab-python-maintainers

/petab/visualize/ @plakrisenko
/tests/test_vis* @plakrisenko
/petab/simulate.py @dilpath
/tests/test_simulate.py @dilpath
/petab/calculate.py @yannikschaelte
/tests/test_calculate.py @yannikschaelte
/doc/ @dweindl

Fix accessing preequilibrationConditionId without checking for presence
  petab/visualize/data_overview.py
Owners: @plakrisenko

Fix accessing preequilibrationConditionId without checking for presence (#228)
  petab/visualize/data_overview.py
Owners: @plakrisenko

pytest.ini: ignore PyDevIPCompleter6 deprecation warnings
  pytest.ini
Owners: @PEtab-dev/libpetab-python-maintainers

Startpoint sampling for a subset of parameters
  petab/parameters.py
  petab/problem.py
  petab/sampling.py
  tests/test_petab.py
Owners: @PEtab-dev/libpetab-python-maintainers

fixup! pytest.ini: ignore PyDevIPCompleter6 deprecation warnings
  pytest.ini
Owners: @PEtab-dev/libpetab-python-maintainers

errmsg
  petab/parameters.py
  tests/test_petab.py
Owners: @PEtab-dev/libpetab-python-maintainers

Startpoint sampling for a subset of parameters (#230)
  petab/parameters.py
  petab/problem.py
  petab/sampling.py
  tests/test_petab.py
Owners: @PEtab-dev/libpetab-python-maintainers

treatment observableParameters as placeholders
  petab/parameters.py
Owners: @PEtab-dev/libpetab-python-maintainers

refactor
  petab/parameters.py
Owners: @PEtab-dev/libpetab-python-maintainers

fix replicates sorting
  petab/visualize/plotter.py
Owners: @plakrisenko

review: test
  tests/test_petab.py
Owners: @PEtab-dev/libpetab-python-maintainers

typo
  tests/test_petab.py
Owners: @PEtab-dev/libpetab-python-maintainers

Treat observableParameter overrides as placeholders in noise formulae (#231)
  petab/parameters.py
  tests/test_petab.py
Owners: @PEtab-dev/libpetab-python-maintainers

bump version; update changelog
  CHANGELOG.md
  petab/version.py
Owners: @PEtab-dev/libpetab-python-maintainers

Update CHANGELOG.md
  CHANGELOG.md
Owners: @PEtab-dev/libpetab-python-maintainers

add comment
  petab/visualize/plotter.py
Owners: @plakrisenko

Fix `flatten_timepoint_specific_output_overrides` not supporting observableParameter overrides as placeholders in noise formulae
  petab/core.py
  tests/test_petab.py
Owners: @PEtab-dev/libpetab-python-maintainers

Fix `flatten_timepoint_specific_output_overrides` not supporting observableParameter overrides as placeholders in noise formulae (#235)
  petab/core.py
  tests/test_petab.py
Owners: @PEtab-dev/libpetab-python-maintainers

Doc: Clean up visualization examples
  doc/example/example_visualization.ipynb
  doc/example/example_visualization_with_visspec.ipynb
  doc/example/example_visualization_without_visspec.ipynb
Owners: @dweindl

Vis: fix replicates sorting (#232)
  petab/visualize/plotter.py
Owners: @plakrisenko

..
  doc/conf.py
Owners: @dweindl

..
  doc/example/example_Isensee/Isensee.yaml
Owners: @dweindl

merge examples
  doc/example.rst
  doc/example/example_Isensee/Isensee_no_vis.yaml
  doc/example/example_visualization_with_visspec.ipynb
  doc/example/example_visualization_without_visspec.ipynb
  petab/visualize/plotting.py
Owners: @dweindl, @plakrisenko

..
  doc/example/example_visualization.ipynb
Owners: @dweindl

Apply suggestions from code review
  doc/example/example_visualization.ipynb
Owners: @dweindl

..
  doc/example/example_visualization.ipynb
Owners: @dweindl

drop plotTypeSimulation
  doc/example/example_Fujita/visuSpecs/Fujita_visuSpec_datasetIds.tsv
  doc/example/example_Fujita/visuSpecs/Fujita_visuSpec_individual_datasets.tsv
Owners: @dweindl
