Repository PEtab-dev/libpetab-python, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PEtab-dev/libpetab-python-maintainers, @m-philipps, @dilpath, @dweindl

.github/CODEOWNERS:

# see https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# default owners
* @PEtab-dev/libpetab-python-maintainers

/petab/visualize/ @m-philipps
/tests/test_vis* @m-philipps
/petab/simulate.py @dilpath
/tests/test_simulate.py @dilpath
/doc/ @dweindl
/doc/example @m-philipps
/doc/example/example_petablint.ipynb @dweindl

doc: add petab.v1.priors
  doc/modules.rst
Owners: @dweindl

..
  petab/v1/priors.py
Owners: @PEtab-dev/libpetab-python-maintainers

doc: add petab.v1.priors (#315)
  doc/modules.rst
  petab/v1/priors.py
Owners: @dweindl, @PEtab-dev/libpetab-python-maintainers

remove visualization df if invalid
  petab/v1/core.py
Owners: @PEtab-dev/libpetab-python-maintainers

correct boolean return
  petab/v1/core.py
Owners: @PEtab-dev/libpetab-python-maintainers

add warning
  petab/v1/core.py
Owners: @PEtab-dev/libpetab-python-maintainers

add method to average replicates
  petab/v1/C.py
  petab/v1/measurements.py
  pyproject.toml
  tests/v1/test_measurements.py
Owners: @PEtab-dev/libpetab-python-maintainers

Preserve column ordering in priors_to_measurements
  petab/v1/priors.py
Owners: @PEtab-dev/libpetab-python-maintainers

Preserve column ordering in priors_to_measurements (#317)
  petab/v1/priors.py
Owners: @PEtab-dev/libpetab-python-maintainers

Make model id optional for PySBModel
  petab/v1/models/pysb_model.py
Owners: @PEtab-dev/libpetab-python-maintainers

Make model id optional for PySBModel (#318)
  petab/v1/models/pysb_model.py
Owners: @PEtab-dev/libpetab-python-maintainers

Implement `Model.__repr__`
  petab/v1/models/model.py
  tests/v1/test_model_pysb.py
  tests/v1/test_sbml.py
Owners: @PEtab-dev/libpetab-python-maintainers

Implement `Model.__repr__` (#319)
  petab/v1/models/model.py
  tests/v1/test_model_pysb.py
  tests/v1/test_sbml.py
Owners: @PEtab-dev/libpetab-python-maintainers

fix ruff
  petab/v1/core.py
Owners: @PEtab-dev/libpetab-python-maintainers

replace lint with observable matching
  petab/v1/core.py
Owners: @PEtab-dev/libpetab-python-maintainers

fix
  petab/v1/core.py
Owners: @PEtab-dev/libpetab-python-maintainers

remove visualization df if invalid (#316)
  petab/v1/core.py
Owners: @PEtab-dev/libpetab-python-maintainers

Update changelog, bump version
  CHANGELOG.md
  petab/version.py
Owners: @PEtab-dev/libpetab-python-maintainers

fix error message for missing cols in mapping df
  petab/v1/mapping.py
Owners: @PEtab-dev/libpetab-python-maintainers

ci
  petab/v1/mapping.py
Owners: @PEtab-dev/libpetab-python-maintainers

Fix error message for missing cols in mapping df (#323)
  petab/v1/mapping.py
Owners: @PEtab-dev/libpetab-python-maintainers

Update ci_tests.yml
  .github/workflows/ci_tests.yml
Owners: @PEtab-dev/libpetab-python-maintainers

Enable passing the base path to Problem.from_yaml
  petab/v1/problem.py
  tests/v1/test_petab.py
Owners: @PEtab-dev/libpetab-python-maintainers

v2
  petab/v2/problem.py
  tests/v2/test_problem.py
Owners: @PEtab-dev/libpetab-python-maintainers

Enable passing the base path to Problem.from_yaml (#327)
  petab/v1/problem.py
  petab/v2/problem.py
  tests/v1/test_petab.py
  tests/v2/test_problem.py
Owners: @PEtab-dev/libpetab-python-maintainers

Store problem configuration in Problem
  petab/v1/problem.py
  pyproject.toml
Owners: @PEtab-dev/libpetab-python-maintainers

Support for petab v2 experiments
  doc/modules.rst
  petab/v2/C.py
  petab/v2/__init__.py
  petab/v2/experiments.py
  petab/v2/measurements.py
  petab/v2/models/sbml_model.py
  petab/v2/parameter_mapping.py
  petab/v2/problem.py
  pyproject.toml
  tests/v2/test_experiments.py
  tests/v2/test_measurements.py
  tests/v2/test_parameter_mapping.py
  tests/v2/test_problem.py
Owners: @dweindl, @PEtab-dev/libpetab-python-maintainers

- allow to initialize from sbml str
  petab/v1/models/sbml_model.py
Owners: @PEtab-dev/libpetab-python-maintainers

- disambiguate between warning and errors
  petab/v1/sbml.py
Owners: @PEtab-dev/libpetab-python-maintainers

ruff
  petab/v1/models/sbml_model.py
  petab/v1/sbml.py
Owners: @PEtab-dev/libpetab-python-maintainers

Sbml model enhancements (#333)
  petab/v1/models/sbml_model.py
  petab/v1/sbml.py
Owners: @PEtab-dev/libpetab-python-maintainers

Add `SbmlModel.from_antimony`
  petab/v1/models/sbml_model.py
  pyproject.toml
  tests/v1/test_combine.py
  tests/v1/test_deprecated.py
  tests/v1/test_lint.py
  tests/v1/test_observables.py
  tests/v1/test_parameter_mapping.py
  tests/v1/test_petab.py
  tests/v1/test_sbml.py
  tests/v1/test_simplify.py
Owners: @PEtab-dev/libpetab-python-maintainers

Add constants + I/O for new conditions/experiments tables
  doc/modules.rst
  petab/schemas/petab_schema.v2.0.0.yaml
  petab/v2/C.py
  petab/v2/__init__.py
  petab/v2/experiments.py
  petab/v2/lint.py
  petab/v2/problem.py
  pytest.ini
  tests/v2/test_experiments.py
  tests/v2/test_lint.py
  tests/v2/test_problem.py
Owners: @dweindl, @PEtab-dev/libpetab-python-maintainers

Functions for adding conditions/observables/parameter to Problem
  petab/v1/mapping.py
  petab/v1/problem.py
  petab/v2/petab1to2.py
  petab/v2/problem.py
  tests/v1/test_petab.py
  tests/v2/test_mapping.py
  tests/v2/test_problem.py
Owners: @PEtab-dev/libpetab-python-maintainers

Refactor priors
  doc/example.rst
  doc/example/distributions.ipynb
  doc/modules.rst
  petab/v1/distributions.py
  petab/v1/sampling.py
  tests/v1/test_distributions.py
  tests/v1/test_priors.py
Owners: @dweindl, @m-philipps, @PEtab-dev/libpetab-python-maintainers

Refactor priors
  doc/example.rst
  doc/example/distributions.ipynb
  doc/modules.rst
  petab/v1/distributions.py
  petab/v1/parameters.py
  petab/v1/sampling.py
  tests/v1/test_distributions.py
  tests/v1/test_priors.py
Owners: @dweindl, @m-philipps, @PEtab-dev/libpetab-python-maintainers

Implement proper truncation for prior distributions
  doc/example/distributions.ipynb
  petab/v1/distributions.py
Owners: @m-philipps, @PEtab-dev/libpetab-python-maintainers

Fix test_priors_to_measurements
  tests/v1/test_priors.py
Owners: @PEtab-dev/libpetab-python-maintainers

resolve paths
  petab/v1/problem.py
  petab/v2/petab1to2.py
  petab/v2/problem.py
Owners: @PEtab-dev/libpetab-python-maintainers

Functions for adding conditions/observables/parameter to Problem (#328)
  petab/v1/mapping.py
  petab/v1/problem.py
  petab/v2/petab1to2.py
  petab/v2/problem.py
  tests/v1/test_petab.py
  tests/v2/test_mapping.py
  tests/v2/test_problem.py
Owners: @PEtab-dev/libpetab-python-maintainers
