Repository PEtab-dev/libpetab-python, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PEtab-dev/libpetab-python-maintainers, @m-philipps, @dilpath, @dweindl

.github/CODEOWNERS:

# see https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# default owners
* @PEtab-dev/libpetab-python-maintainers

/petab/visualize/ @m-philipps
/tests/test_vis* @m-philipps
/petab/simulate.py @dilpath
/tests/test_simulate.py @dilpath
/doc/ @dweindl
/doc/example @m-philipps
/doc/example/example_petablint.ipynb @dweindl

feedback from second round review
  doc/modules.rst
  petab/v2/core.py
  petab/v2/extensions/sciml.py
  petab/v2/extensions/sciml_lint.py
  petab/v2/lint.py
  tests/v2/test_sciml.py
Owners: @dweindl, @PEtab-dev/libpetab-python-maintainers

add to docstrings
  petab/v2/core.py
Owners: @PEtab-dev/libpetab-python-maintainers

create Problem for sciml extension
  petab/v2/core.py
Owners: @PEtab-dev/libpetab-python-maintainers

use problem.extensions.sciml for separation
  petab/v2/C.py
  petab/v2/core.py
  petab/v2/extensions/__init__.py
  petab/v2/extensions/sciml.py
  petab/v2/lint.py
  tests/v2/test_sciml.py
Owners: @PEtab-dev/libpetab-python-maintainers

Proble.add_hybridization method
  petab/v2/core.py
Owners: @PEtab-dev/libpetab-python-maintainers

fixup from rebase
  petab/v2/lint.py
  tests/v2/test_lint.py
Owners: @PEtab-dev/libpetab-python-maintainers

sciml caveat in parameters validation
  petab/v2/lint.py
Owners: @PEtab-dev/libpetab-python-maintainers

Support PEtab SciML problems and enable linting (#482)
  doc/conf.py
  doc/modules.rst
  petab/v2/C.py
  petab/v2/core.py
  petab/v2/extensions/__init__.py
  petab/v2/extensions/sciml.py
  petab/v2/extensions/sciml_lint.py
  petab/v2/lint.py
  pyproject.toml
  tests/v2/test_sciml.py
Owners: @dweindl, @PEtab-dev/libpetab-python-maintainers

Fix nan-handling in `Subplot.from_df` checks
  petab/v1/visualize/plotting.py
Owners: @PEtab-dev/libpetab-python-maintainers

Fix nan-handling in `Subplot.from_df` checks (#496)
  petab/v1/visualize/plotting.py
Owners: @PEtab-dev/libpetab-python-maintainers

validation and handling of cond ids specified in array files
  petab/v2/converters.py
  petab/v2/core.py
  petab/v2/lint.py
  tests/v2/test_sciml.py
Owners: @PEtab-dev/libpetab-python-maintainers

allow for sciml problems setting cond ids in array files
  petab/v2/converters.py
  petab/v2/core.py
  petab/v2/extensions/sciml.py
  petab/v2/lint.py
Owners: @PEtab-dev/libpetab-python-maintainers

rm duplicate validation task
  petab/v2/lint.py
Owners: @PEtab-dev/libpetab-python-maintainers

calc array cond ids once
  petab/v2/converters.py
Owners: @PEtab-dev/libpetab-python-maintainers

Allow for condition ids to be defined inside array files (SciML problems only) (#498)
  petab/v2/converters.py
  petab/v2/extensions/sciml.py
  petab/v2/lint.py
  tests/v2/test_sciml.py
Owners: @PEtab-dev/libpetab-python-maintainers

update mapping check to allow pure annotation
  petab/v2/lint.py
  tests/v2/test_lint.py
Owners: @PEtab-dev/libpetab-python-maintainers

update mapping check to allow pure annotation (#500)
  petab/v2/lint.py
  tests/v2/test_lint.py
Owners: @PEtab-dev/libpetab-python-maintainers

linter allow non-yaml network formats
  petab/v2/extensions/sciml.py
  petab/v2/extensions/sciml_lint.py
  tests/v2/test_sciml.py
Owners: @PEtab-dev/libpetab-python-maintainers

Harden the BNGL block reader: strip line labels (index + named)
  petab/v1/models/bngl_model.py
  tests/v1/test_model_bngl.py
Owners: @PEtab-dev/libpetab-python-maintainers

Harden the BNGL block reader: block aliases + seed-species $ clamp
  petab/v1/models/bngl_model.py
  tests/v1/test_model_bngl.py
Owners: @PEtab-dev/libpetab-python-maintainers

Harden the BNGL block reader: join line continuations
  petab/v1/models/bngl_model.py
  tests/v1/test_model_bngl.py
Owners: @PEtab-dev/libpetab-python-maintainers

Add support for BNGL models as a PEtab model language
  petab/v1/models/__init__.py
  petab/v1/models/bngl_model.py
  petab/v1/models/model.py
  petab/v2/models/bngl_model.py
  tests/v1/bngl/parabola.bngl
  tests/v1/test_model_bngl.py
Owners: @PEtab-dev/libpetab-python-maintainers

Match BNG2.pl: drop the `molecules`/`rules` block aliases (keep `species`)
  petab/v1/models/bngl_model.py
  tests/v1/test_model_bngl.py
Owners: @PEtab-dev/libpetab-python-maintainers

Add a corpus regression gate: parse_bngl vs a cached BNG2.pl golden
  tests/v1/bngl_corpus/An_2009.bngl
  tests/v1/bngl_corpus/Barua_2009__PATCHED.bngl
  tests/v1/bngl_corpus/Chattaraj_2021.bngl
  tests/v1/bngl_corpus/LR.bngl
  tests/v1/bngl_corpus/LRR.bngl
  tests/v1/bngl_corpus/Motivating_example_cBNGL.bngl
  tests/v1/bngl_corpus/README.md
  tests/v1/bngl_corpus/Ras_bistability_v2.bngl
  tests/v1/bngl_corpus/Rule_based_egfr_tutorial.bngl
  tests/v1/bngl_corpus/akt-signaling.bngl
  tests/v1/bngl_corpus/apoptosis-cascade.bngl
  tests/v1/bngl_corpus/bcr-signaling.bngl
  tests/v1/bngl_corpus/blood-coagulation-thrombin.bngl
  tests/v1/bngl_corpus/bmp-signaling.bngl
  tests/v1/bngl_corpus/brusselator-oscillator.bngl
  tests/v1/bngl_corpus/catalysis.bngl
  tests/v1/bngl_corpus/egg.bngl
  tests/v1/bngl_corpus/elephant_EFA.bngl
  tests/v1/bngl_corpus/energy_transport_pump.bngl
  tests/v1/bngl_corpus/example1.bngl
  tests/v1/bngl_corpus/genetic_bistability_energy.bngl
  tests/v1/bngl_corpus/golden.json
  tests/v1/bngl_corpus/immob_equiv_lig_sites.bngl
  tests/v1/test_bngl_corpus.py
Owners: @PEtab-dev/libpetab-python-maintainers

Make None defaults Optional and pin utf-8 in to_file
  petab/v1/models/bngl_model.py
Owners: @PEtab-dev/libpetab-python-maintainers

linter allow non-yaml network formats (#499)
  petab/v2/extensions/sciml.py
  petab/v2/extensions/sciml_lint.py
  tests/v2/test_sciml.py
Owners: @PEtab-dev/libpetab-python-maintainers

Fix missing return in v1v2_observable_df noise distribution merge
  petab/v2/petab1to2.py
  tests/v2/test_conversion.py
Owners: @PEtab-dev/libpetab-python-maintainers

..
  petab/v2/petab1to2.py
Owners: @PEtab-dev/libpetab-python-maintainers

Fix missing return in v1v2_observable_df noise distribution merge (#502)
  petab/v2/petab1to2.py
  tests/v2/test_conversion.py
Owners: @PEtab-dev/libpetab-python-maintainers

CI: Fix flaky remote file access
  tests/v1/test_petab.py
  tests/v1/test_yaml.py
  tests/v2/test_conversion.py
  tests/v2/test_core.py
Owners: @PEtab-dev/libpetab-python-maintainers

CI: Fix flaky remote file access (#503)
  tests/v1/test_petab.py
  tests/v1/test_yaml.py
  tests/v2/test_conversion.py
  tests/v2/test_core.py
Owners: @PEtab-dev/libpetab-python-maintainers

add remaining linters
  petab/v2/extensions/sciml_lint.py
  petab/v2/lint.py
  tests/v2/test_sciml.py
Owners: @PEtab-dev/libpetab-python-maintainers

use entity_type to refer to inputs/outputs/parameters
  petab/v2/extensions/sciml_lint.py
Owners: @PEtab-dev/libpetab-python-maintainers

review: minimize sciml footprint outside of extension submodule
  petab/v2/extensions/sciml_lint.py
Owners: @PEtab-dev/libpetab-python-maintainers

SciML extension: add linters (#505)
  petab/v2/extensions/sciml_lint.py
  petab/v2/lint.py
  tests/v2/test_sciml.py
Owners: @PEtab-dev/libpetab-python-maintainers

Fix PEtab v2 extension config model (#474)
  petab/v2/core.py
  petab/v2/extensions/__init__.py
  petab/v2/extensions/sciml.py
  tests/v2/test_core.py
  tests/v2/test_sciml.py
Owners: @PEtab-dev/libpetab-python-maintainers

less verbose
  petab/v2/core.py
Owners: @PEtab-dev/libpetab-python-maintainers

Replace tox and pip with uv
  .github/workflows/ci_tests.yml
  .github/workflows/deploy.yml
  README.md
  doc/development.rst
  pyproject.toml
  requirements-dev.txt
  tox.ini
Owners: @PEtab-dev/libpetab-python-maintainers, @dweindl

Replace manual sympy install with override-dependencies; log installed versions
  .github/workflows/ci_tests.yml
  pyproject.toml
Owners: @PEtab-dev/libpetab-python-maintainers

Replace tox and pip with uv (#507)
  .github/workflows/ci_tests.yml
  .github/workflows/deploy.yml
  README.md
  doc/development.rst
  pyproject.toml
  requirements-dev.txt
  tox.ini
Owners: @PEtab-dev/libpetab-python-maintainers, @dweindl
