Repository PEtab-dev/libpetab-python, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PEtab-dev/libpetab-python-maintainers, @m-philipps, @dilpath, @dweindl

conditions
  petab/v2/core.py
  petab/v2/petab1to2.py
  petab/v2/problem.py
  tests/v2/test_core.py
Owners: @PEtab-dev/libpetab-python-maintainers

..
  petab/v2/problem.py
Owners: @PEtab-dev/libpetab-python-maintainers

getitem
  petab/v2/core.py
Owners: @PEtab-dev/libpetab-python-maintainers

Measurements
  petab/v2/core.py
  petab/v2/problem.py
Owners: @PEtab-dev/libpetab-python-maintainers

Apply suggestions from code review
  petab/v2/C.py
  petab/v2/core.py
  petab/v2/problem.py
  tests/v2/test_core.py
Owners: @PEtab-dev/libpetab-python-maintainers

store ids
  petab/v2/core.py
  petab/v2/problem.py
Owners: @PEtab-dev/libpetab-python-maintainers

mapping,parameters
  petab/v2/core.py
  petab/v2/problem.py
Owners: @PEtab-dev/libpetab-python-maintainers

single condition per timepoint
  petab/v2/core.py
Owners: @PEtab-dev/libpetab-python-maintainers

..
  petab/v2/core.py
Owners: @PEtab-dev/libpetab-python-maintainers

v2: Observable/conditions/experiments/... objects (#345)
  petab/v2/C.py
  petab/v2/core.py
  petab/v2/petab1to2.py
  petab/v2/problem.py
  tests/v2/test_core.py
  tests/v2/test_problem.py
Owners: @PEtab-dev/libpetab-python-maintainers

..
  doc/development.rst
Owners: @dweindl

Update doc/development.rst
  doc/development.rst
Owners: @dweindl

update
  doc/development.rst
Owners: @dweindl

Update doc/development.rst
  doc/development.rst
Owners: @dweindl

Update developer's guide
  doc/development.rst
Owners: @dweindl

Update doc/development.rst
  doc/development.rst
Owners: @dweindl

doc: intersphinx, tox env
  doc/conf.py
  petab/v1/problem.py
  petab/v2/problem.py
  tox.ini
Owners: @dweindl, @PEtab-dev/libpetab-python-maintainers

Update developer's guide (#354)
  doc/development.rst
Owners: @dweindl

doc: intersphinx, tox env (#358)
  doc/conf.py
  petab/v1/problem.py
  petab/v2/problem.py
  tox.ini
Owners: @dweindl, @PEtab-dev/libpetab-python-maintainers

Fix deprecated class Config in pydantic models
  petab/v2/core.py
Owners: @PEtab-dev/libpetab-python-maintainers

Fix deprecated class Config in pydantic models (#359)
  petab/v2/core.py
Owners: @PEtab-dev/libpetab-python-maintainers

test
  petab/v2/core.py
  pyproject.toml
  pytest.ini
Owners: @PEtab-dev/libpetab-python-maintainers

..
  petab/v1/visualize/plotting.py
Owners: @PEtab-dev/libpetab-python-maintainers

doc: petab.v2.core
  doc/modules.rst
Owners: @dweindl

..
  petab/v2/core.py
Owners: @PEtab-dev/libpetab-python-maintainers

priv
  petab/v2/core.py
Owners: @PEtab-dev/libpetab-python-maintainers

..
  petab/v2/core.py
Owners: @PEtab-dev/libpetab-python-maintainers

undoc-members
  doc/conf.py
Owners: @dweindl

inherited-members
  doc/conf.py
Owners: @dweindl

priv
  petab/v2/core.py
Owners: @PEtab-dev/libpetab-python-maintainers

..
  petab/v2/core.py
Owners: @PEtab-dev/libpetab-python-maintainers

doc: petab.v2.core (#360)
  doc/conf.py
  doc/modules.rst
  petab/v1/visualize/plotting.py
  petab/v2/core.py
  pyproject.toml
  pytest.ini
Owners: @dweindl, @PEtab-dev/libpetab-python-maintainers

Misc fixes
  petab/v2/core.py
  petab/v2/lint.py
  petab/v2/problem.py
Owners: @PEtab-dev/libpetab-python-maintainers

dfs->objs
  petab/v2/core.py
  petab/v2/problem.py
  pytest.ini
  tests/v2/test_core.py
  tests/v2/test_problem.py
Owners: @PEtab-dev/libpetab-python-maintainers

..
  petab/v2/core.py
Owners: @PEtab-dev/libpetab-python-maintainers

lint
  petab/v2/core.py
  petab/v2/lint.py
  petab/v2/problem.py
  tests/v2/test_core.py
  tests/v2/test_lint.py
Owners: @PEtab-dev/libpetab-python-maintainers

no conditionName, no operationType
  petab/v1/lint.py
  petab/v1/math/sympify.py
  petab/v2/C.py
  petab/v2/core.py
  petab/v2/lint.py
  petab/v2/petab1to2.py
  petab/v2/problem.py
  tests/v2/test_core.py
  tests/v2/test_problem.py
Owners: @PEtab-dev/libpetab-python-maintainers

more linting
  petab/v2/conditions.py
  petab/v2/core.py
  petab/v2/lint.py
  petab/v2/petab1to2.py
  petab/v2/problem.py
  tests/v2/test_problem.py
Owners: @PEtab-dev/libpetab-python-maintainers

..
  petab/v2/core.py
  petab/v2/lint.py
Owners: @PEtab-dev/libpetab-python-maintainers

..
  petab/v2/conditions.py
  petab/v2/core.py
  petab/v2/lint.py
Owners: @PEtab-dev/libpetab-python-maintainers

.github/CODEOWNERS:

# see https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# default owners
* @PEtab-dev/libpetab-python-maintainers

/petab/visualize/ @m-philipps
/tests/test_vis* @m-philipps
/petab/simulate.py @dilpath
/tests/test_simulate.py @dilpath
/doc/ @dweindl
/doc/example @m-philipps
/doc/example/example_petablint.ipynb @dweindl
