Repository PEtab-dev/libpetab-python, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PEtab-dev/libpetab-python-maintainers, @m-philipps, @dilpath, @dweindl

Fix parameter scale in sample_from_prior (#385)
  petab/v1/sampling.py
Owners: @PEtab-dev/libpetab-python-maintainers

v2: Update to new observable placeholder specification
  petab/v2/C.py
  petab/v2/core.py
  petab/v2/petab1to2.py
  tests/v2/test_core.py
Owners: @PEtab-dev/libpetab-python-maintainers

v2: Update to new observable placeholder specification (#393)
  petab/v2/C.py
  petab/v2/core.py
  petab/v2/petab1to2.py
  tests/v2/test_core.py
Owners: @PEtab-dev/libpetab-python-maintainers

Add `v2.calculate`
  petab/v2/calculate.py
  petab/v2/math/__init__.py
  petab/v2/problem.py
  tests/v2/test_calculate.py
Owners: @PEtab-dev/libpetab-python-maintainers

v2: Remove redundant CheckAllObservablesDefined
  petab/v2/lint.py
Owners: @PEtab-dev/libpetab-python-maintainers

Prettify linter output
  petab/petablint.py
  petab/v1/yaml.py
Owners: @PEtab-dev/libpetab-python-maintainers

v2: prettify petablint output
  petab/petablint.py
Owners: @PEtab-dev/libpetab-python-maintainers

v2: prettify petablint output (#400)
  petab/petablint.py
Owners: @PEtab-dev/libpetab-python-maintainers

Apply suggestions from code review
  petab/v2/lint.py
Owners: @PEtab-dev/libpetab-python-maintainers

..
  petab/petablint.py
Owners: @PEtab-dev/libpetab-python-maintainers

..
  petab/v2/lint.py
Owners: @PEtab-dev/libpetab-python-maintainers

Prettify linter output (#401)
  petab/petablint.py
  petab/v1/yaml.py
Owners: @PEtab-dev/libpetab-python-maintainers

v2: Remove redundant CheckAllObservablesDefined (#399)
  petab/v2/lint.py
Owners: @PEtab-dev/libpetab-python-maintainers

v2: Adapt to updated yaml schema
  petab/petablint.py
  petab/schemas/petab_schema.v2.0.0.yaml
  petab/v2/lint.py
  petab/v2/petab1to2.py
  petab/v2/problem.py
  tests/v2/test_problem.py
Owners: @PEtab-dev/libpetab-python-maintainers

Apply suggestions from code review
  petab/v2/calculate.py
Owners: @PEtab-dev/libpetab-python-maintainers

expected residuals
  tests/v1/test_calculate.py
  tests/v2/test_calculate.py
Owners: @PEtab-dev/libpetab-python-maintainers

v2: unscaled obs for noise
  petab/v2/calculate.py
  tests/v2/test_calculate.py
Owners: @PEtab-dev/libpetab-python-maintainers

op
  petab/v1/calculate.py
  petab/v2/calculate.py
Owners: @PEtab-dev/libpetab-python-maintainers

apply to v1
  petab/v1/calculate.py
  tests/v1/test_calculate.py
Owners: @PEtab-dev/libpetab-python-maintainers

Add `v2.calculate` / fix `v1.calculate` (#395)
  petab/v2/calculate.py
  petab/v2/math/__init__.py
  petab/v2/problem.py
  tests/v2/test_calculate.py
Owners: @PEtab-dev/libpetab-python-maintainers

v2: Add experiments->events converter
  doc/modules.rst
  petab/v2/converters.py
  petab/v2/core.py
  petab/v2/models/_sbml_utils.py
Owners: @dweindl, @PEtab-dev/libpetab-python-maintainers

Apply suggestions from code review
  petab/v2/converters.py
Owners: @PEtab-dev/libpetab-python-maintainers

Update to new main branch
  README.md
  doc/conf.py
Owners: @PEtab-dev/libpetab-python-maintainers, @dweindl

fix goodness_of_fit plot and add color parameter
  petab/v1/visualize/plot_residuals.py
  tests/v1/test_visualization.py
Owners: @PEtab-dev/libpetab-python-maintainers

style
  petab/v1/visualize/plot_residuals.py
Owners: @PEtab-dev/libpetab-python-maintainers

style
  petab/v1/measurements.py
Owners: @PEtab-dev/libpetab-python-maintainers

ruff
  petab/v1/visualize/plot_residuals.py
Owners: @PEtab-dev/libpetab-python-maintainers

fix goodness_of_fit plot and add color parameter (#402)
  petab/v1/measurements.py
  petab/v1/visualize/plot_residuals.py
  tests/v1/test_visualization.py
Owners: @PEtab-dev/libpetab-python-maintainers

Apply suggestions from code review
  petab/v2/converters.py
Owners: @PEtab-dev/libpetab-python-maintainers

v2: Add experiments->events converter
  doc/modules.rst
  petab/v2/converters.py
  petab/v2/core.py
  petab/v2/models/_sbml_utils.py
Owners: @dweindl, @PEtab-dev/libpetab-python-maintainers

preeq
  petab/v2/converters.py
Owners: @PEtab-dev/libpetab-python-maintainers

..
  petab/v2/converters.py
Owners: @PEtab-dev/libpetab-python-maintainers

..
  petab/v2/converters.py
Owners: @PEtab-dev/libpetab-python-maintainers

Update petab/v2/core.py
  petab/v2/core.py
Owners: @PEtab-dev/libpetab-python-maintainers

..
  petab/v2/converters.py
  petab/v2/core.py
  petab/v2/models/_sbml_utils.py
Owners: @PEtab-dev/libpetab-python-maintainers

check
  petab/v2/models/_sbml_utils.py
Owners: @PEtab-dev/libpetab-python-maintainers

default_priority
  petab/v2/converters.py
Owners: @PEtab-dev/libpetab-python-maintainers

Fix `v2.ProblemConfig.extension` type
  petab/v2/petab1to2.py
  petab/v2/problem.py
Owners: @PEtab-dev/libpetab-python-maintainers

Fix `v2.ProblemConfig.extension` type (#403)
  petab/v2/petab1to2.py
  petab/v2/problem.py
Owners: @PEtab-dev/libpetab-python-maintainers

"simplify" triggers
  petab/v2/converters.py
Owners: @PEtab-dev/libpetab-python-maintainers

.github/CODEOWNERS:

# see https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# default owners
* @PEtab-dev/libpetab-python-maintainers

/petab/visualize/ @m-philipps
/tests/test_vis* @m-philipps
/petab/simulate.py @dilpath
/tests/test_simulate.py @dilpath
/doc/ @dweindl
/doc/example @m-philipps
/doc/example/example_petablint.ipynb @dweindl
