Repository PEtab-dev/libpetab-python, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PEtab-dev/libpetab-python-maintainers, @m-philipps, @dilpath, @dweindl

Fix petablint v2 warning
  petab/petablint.py
  petab/versions.py
Owners: @PEtab-dev/libpetab-python-maintainers

Doc: fix deprecated petablint invocation
  doc/example/example_petablint.ipynb
Owners: @dweindl

Fix petablint v2 warning (#342)
  petab/petablint.py
  petab/versions.py
Owners: @PEtab-dev/libpetab-python-maintainers

Doc: fix deprecated petablint invocation (#343)
  doc/example/example_petablint.ipynb
Owners: @dweindl

petab1->2: create experiment df
  petab/v1/calculate.py
  petab/v1/problem.py
  petab/v2/C.py
  petab/v2/__init__.py
  petab/v2/lint.py
  petab/v2/petab1to2.py
  petab/v2/problem.py
  tests/v2/test_problem.py
Owners: @PEtab-dev/libpetab-python-maintainers

Update petab/v2/petab1to2.py
  petab/v2/petab1to2.py
Owners: @PEtab-dev/libpetab-python-maintainers

review
  petab/v2/C.py
  petab/v2/petab1to2.py
Owners: @PEtab-dev/libpetab-python-maintainers

Support for petab v2 experiments (#332)
  petab/v1/calculate.py
  petab/v1/problem.py
  petab/v2/C.py
  petab/v2/__init__.py
  petab/v2/lint.py
  petab/v2/petab1to2.py
  petab/v2/problem.py
  tests/v2/test_problem.py
Owners: @PEtab-dev/libpetab-python-maintainers

Fix v2 import Deprecation warning
  petab/__init__.py
Owners: @PEtab-dev/libpetab-python-maintainers

petab.calculate: compare all common columns
  petab/v1/calculate.py
Owners: @PEtab-dev/libpetab-python-maintainers

Fix v2 import Deprecation warning (#346)
  petab/__init__.py
Owners: @PEtab-dev/libpetab-python-maintainers

petab.calculate: compare all common columns (#347)
  petab/v1/calculate.py
Owners: @PEtab-dev/libpetab-python-maintainers

Problem.add_parameter: Rename kwarg estimated->estimate
  petab/v1/problem.py
  petab/v2/problem.py
Owners: @PEtab-dev/libpetab-python-maintainers

Apply suggestions from code review
  petab/v1/problem.py
  petab/v2/problem.py
Owners: @PEtab-dev/libpetab-python-maintainers

..
  petab/v1/problem.py
  petab/v2/problem.py
Owners: @PEtab-dev/libpetab-python-maintainers

Problem.add_parameter: Rename kwarg estimated->estimate (#348)
  petab/v1/problem.py
  petab/v2/problem.py
Owners: @PEtab-dev/libpetab-python-maintainers

observables
  petab/v2/core.py
  petab/v2/problem.py
  tests/v2/test_core.py
Owners: @PEtab-dev/libpetab-python-maintainers

conditions
  petab/v2/core.py
  petab/v2/petab1to2.py
  petab/v2/problem.py
  tests/v2/test_core.py
Owners: @PEtab-dev/libpetab-python-maintainers

getitem
  petab/v2/core.py
Owners: @PEtab-dev/libpetab-python-maintainers

Fix experiment table in upconversion
  petab/v2/lint.py
  petab/v2/petab1to2.py
Owners: @PEtab-dev/libpetab-python-maintainers

Measurements
  petab/v2/core.py
  petab/v2/problem.py
Owners: @PEtab-dev/libpetab-python-maintainers

mapping,parameters
  petab/v2/core.py
  petab/v2/problem.py
Owners: @PEtab-dev/libpetab-python-maintainers

Fix version checks
  petab/v1/problem.py
  petab/v1/yaml.py
  petab/v2/problem.py
  petab/versions.py
  tests/test_version.py
Owners: @PEtab-dev/libpetab-python-maintainers

Fix version checks (#350)
  petab/v1/problem.py
  petab/v1/yaml.py
  petab/v2/problem.py
  petab/versions.py
  tests/test_version.py
Owners: @PEtab-dev/libpetab-python-maintainers

Create output directories in write_*
  petab/v1/conditions.py
  petab/v1/core.py
  petab/v1/mapping.py
  petab/v1/measurements.py
  petab/v1/observables.py
  petab/v1/parameters.py
  petab/v1/yaml.py
  petab/v2/experiments.py
Owners: @PEtab-dev/libpetab-python-maintainers

Create output directories in write_* (#352)
  petab/v1/conditions.py
  petab/v1/core.py
  petab/v1/mapping.py
  petab/v1/measurements.py
  petab/v1/observables.py
  petab/v1/parameters.py
  petab/v1/yaml.py
  petab/v2/experiments.py
Owners: @PEtab-dev/libpetab-python-maintainers

fixup
  petab/v2/lint.py
  petab/v2/petab1to2.py
Owners: @PEtab-dev/libpetab-python-maintainers

Fix experiment table in upconversion
  petab/v2/lint.py
  petab/v2/petab1to2.py
Owners: @PEtab-dev/libpetab-python-maintainers

v2: fixes to validation and upconversion (#351)
  petab/v2/lint.py
  petab/v2/petab1to2.py
Owners: @PEtab-dev/libpetab-python-maintainers

Update/use ProblemConfig
  petab/v1/problem.py
  petab/v2/petab1to2.py
  petab/v2/problem.py
Owners: @PEtab-dev/libpetab-python-maintainers

review
  petab/v1/problem.py
  petab/v2/problem.py
Owners: @PEtab-dev/libpetab-python-maintainers

Update doc/example/distributions.ipynb
  doc/example/distributions.ipynb
Owners: @m-philipps

GHA: Test with Python3.13
  .github/workflows/ci_tests.yml
Owners: @PEtab-dev/libpetab-python-maintainers

GHA: fixup PyPI URL
  .github/workflows/deploy.yml
Owners: @PEtab-dev/libpetab-python-maintainers

format_version_tuple
  petab/v2/problem.py
Owners: @PEtab-dev/libpetab-python-maintainers

Update/use ProblemConfig (#353)
  petab/v1/problem.py
  petab/v2/petab1to2.py
  petab/v2/problem.py
Owners: @PEtab-dev/libpetab-python-maintainers

tuncation/transformation
  petab/v1/distributions.py
Owners: @PEtab-dev/libpetab-python-maintainers

Add operators
  petab/v2/core.py
  tests/v2/test_core.py
Owners: @PEtab-dev/libpetab-python-maintainers

valueType/operationType
  petab/v2/C.py
  petab/v2/core.py
  petab/v2/petab1to2.py
  petab/v2/problem.py
  tests/v2/test_problem.py
Owners: @PEtab-dev/libpetab-python-maintainers

observables
  petab/v2/core.py
  petab/v2/problem.py
  tests/v2/test_core.py
Owners: @PEtab-dev/libpetab-python-maintainers

.github/CODEOWNERS:

# see https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# default owners
* @PEtab-dev/libpetab-python-maintainers

/petab/visualize/ @m-philipps
/tests/test_vis* @m-philipps
/petab/simulate.py @dilpath
/tests/test_simulate.py @dilpath
/doc/ @dweindl
/doc/example @m-philipps
/doc/example/example_petablint.ipynb @dweindl
