Repository PEtab-dev/libpetab-python, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PEtab-dev/libpetab-python-maintainers, @m-philipps, @dilpath, @dweindl

.github/CODEOWNERS:

# see https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# default owners
* @PEtab-dev/libpetab-python-maintainers

/petab/visualize/ @m-philipps
/tests/test_vis* @m-philipps
/petab/simulate.py @dilpath
/tests/test_simulate.py @dilpath
/doc/ @dweindl
/doc/example @m-philipps
/doc/example/example_petablint.ipynb @dweindl

remove unused files
  petab/math/__init__.py
  petab/math/sympify.py
  petab/models/__init__.py
  petab/models/model.py
  petab/models/pysb_model.py
  petab/models/sbml_model.py
  petab/visualize/__init__.py
  petab/visualize/data_overview.py
  petab/visualize/lint.py
  petab/visualize/plot_data_and_simulation.py
  petab/visualize/plot_residuals.py
  petab/visualize/plotter.py
  petab/visualize/plotting.py
Owners: @PEtab-dev/libpetab-python-maintainers, @m-philipps

test
  tests/test_deprecation_warnings.py
Owners: @PEtab-dev/libpetab-python-maintainers

..
  tests/test_deprecation_warnings.py
Owners: @PEtab-dev/libpetab-python-maintainers

add fake modules
  petab/__init__.py
Owners: @PEtab-dev/libpetab-python-maintainers

create nested dummy modules
  petab/__init__.py
Owners: @PEtab-dev/libpetab-python-maintainers

cleaner
  petab/__init__.py
Owners: @PEtab-dev/libpetab-python-maintainers

ignore __path__...
  petab/__init__.py
Owners: @PEtab-dev/libpetab-python-maintainers

adjust tests: warnings only occur after import
  tests/test_deprecation_warnings.py
Owners: @PEtab-dev/libpetab-python-maintainers

AttributeError
  petab/__init__.py
Owners: @PEtab-dev/libpetab-python-maintainers

remove hotfix
  petab/__init__.py
Owners: @PEtab-dev/libpetab-python-maintainers

warn if `__path__`
  petab/__init__.py
Owners: @PEtab-dev/libpetab-python-maintainers

warn if `__path__`
  petab/__init__.py
Owners: @PEtab-dev/libpetab-python-maintainers

Implement `petab.*` deprecation with `__getattr__` (#297)
  petab/C.py
  petab/__init__.py
  petab/calculate.py
  petab/composite_problem.py
  petab/conditions.py
  petab/core.py
  petab/lint.py
  petab/mapping.py
  petab/math/__init__.py
  petab/math/sympify.py
  petab/measurements.py
  petab/models/__init__.py
  petab/models/model.py
  petab/models/pysb_model.py
  petab/models/sbml_model.py
  petab/observables.py
  petab/parameter_mapping.py
  petab/parameters.py
  petab/simplify.py
  petab/simulate.py
  petab/versions.py
  petab/visualize/__init__.py
  petab/visualize/data_overview.py
  petab/visualize/lint.py
  petab/visualize/plot_data_and_simulation.py
  petab/visualize/plot_residuals.py
  petab/visualize/plotter.py
  petab/visualize/plotting.py
  petab/yaml.py
  tests/test_deprecation_warnings.py
Owners: @PEtab-dev/libpetab-python-maintainers, @dilpath, @m-philipps

Fix imports
  petab/__init__.py
Owners: @PEtab-dev/libpetab-python-maintainers

Fix imports (#298)
  petab/__init__.py
Owners: @PEtab-dev/libpetab-python-maintainers

Add petab.v2.C
  doc/modules.rst
  petab/v2/C.py
Owners: @dweindl, @PEtab-dev/libpetab-python-maintainers

doc
  petab/v1/C.py
  petab/v2/C.py
Owners: @PEtab-dev/libpetab-python-maintainers

..
  petab/v1/C.py
  petab/v2/C.py
Owners: @PEtab-dev/libpetab-python-maintainers

Add petab.v2.C (#299)
  doc/modules.rst
  petab/v2/C.py
Owners: @dweindl, @PEtab-dev/libpetab-python-maintainers

bump version; update changelog
  CHANGELOG.md
  petab/version.py
Owners: @PEtab-dev/libpetab-python-maintainers

Add petab.v2.models
  petab/v2/models/__init__.py
  petab/v2/models/model.py
  petab/v2/models/pysb_model.py
  petab/v2/models/sbml_model.py
Owners: @PEtab-dev/libpetab-python-maintainers

Add functions for setting series data types
  petab/v2/normalize.py
Owners: @PEtab-dev/libpetab-python-maintainers

..
  petab/v2/normalize.py
  petab/v2/problem.py
Owners: @PEtab-dev/libpetab-python-maintainers

Add petab.v2.models (#302)
  petab/v2/models/__init__.py
  petab/v2/models/model.py
  petab/v2/models/pysb_model.py
  petab/v2/models/sbml_model.py
Owners: @PEtab-dev/libpetab-python-maintainers

..
  petab/v2/normalize.py
  petab/v2/problem.py
Owners: @PEtab-dev/libpetab-python-maintainers

use copy for condition dataframe
  petab/v1/visualize/plotting.py
Owners: @PEtab-dev/libpetab-python-maintainers

Update petab/v1/visualize/plotting.py
  petab/v1/visualize/plotting.py
Owners: @PEtab-dev/libpetab-python-maintainers

Function for replacing `objectivePrior*` by observables/measurements
  petab/v1/priors.py
  tests/v1/test_priors.py
Owners: @PEtab-dev/libpetab-python-maintainers

draft v2 experiments (currently a mix of different formats...)
  petab/v2/C.py
  petab/v2/__init__.py
  petab/v2/core.py
  petab/v2/experiments.py
  petab/v2/lint.py
  petab/v2/measurements.py
  petab/v2/parameter_mapping.py
  petab/v2/parameters.py
  petab/v2/problem.py
  petab/v2/sbml.py
  petab/v2/simplify.py
  petab/v2/yaml.py
  tests/v2/test_experiments.py
  tests/v2/test_problem.py
Owners: @PEtab-dev/libpetab-python-maintainers

..
  petab/v1/parameters.py
  tests/v1/test_priors.py
Owners: @PEtab-dev/libpetab-python-maintainers

Circumvent `SettingWithCopyWarning` (#306)
  petab/v1/visualize/plotting.py
Owners: @PEtab-dev/libpetab-python-maintainers

cleanup
  petab/v1/priors.py
  tests/v1/test_priors.py
Owners: @PEtab-dev/libpetab-python-maintainers

Apply suggestions from code review
  petab/v1/priors.py
  tests/v1/test_priors.py
Owners: @PEtab-dev/libpetab-python-maintainers

..
  petab/v1/priors.py
Owners: @PEtab-dev/libpetab-python-maintainers

no assert
  petab/v1/priors.py
Owners: @PEtab-dev/libpetab-python-maintainers

timepoint/condition
  petab/v1/priors.py
Owners: @PEtab-dev/libpetab-python-maintainers

assert unchanged
  tests/v1/test_priors.py
Owners: @PEtab-dev/libpetab-python-maintainers

Add functions for setting series data types
  petab/v2/normalize.py
  petab/v2/problem.py
Owners: @PEtab-dev/libpetab-python-maintainers

Function for replacing `objectivePrior*` by observables/measurements (#309)
  petab/v1/parameters.py
  petab/v1/priors.py
  tests/v1/test_priors.py
Owners: @PEtab-dev/libpetab-python-maintainers

Fix incorrect petab.v2 import in petab.v1.priors
  petab/v1/priors.py
Owners: @PEtab-dev/libpetab-python-maintainers
