Repository PEtab-dev/libpetab-python, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PEtab-dev/libpetab-python-maintainers, @m-philipps, @dilpath, @dweindl

..
  petab/v2/lint.py
  petab/v2/problem.py
Owners: @PEtab-dev/libpetab-python-maintainers

get_major_version
  petab/petablint.py
  petab/versions.py
Owners: @PEtab-dev/libpetab-python-maintainers

noinit
  petab/v2/lint.py
Owners: @PEtab-dev/libpetab-python-maintainers

simplify get_required_parameters_for_parameter_table
  petab/v2/lint.py
Owners: @PEtab-dev/libpetab-python-maintainers

get_problem
  petab/v2/lint.py
  petab/v2/problem.py
Owners: @PEtab-dev/libpetab-python-maintainers

New validation API (#288)
  doc/modules.rst
  petab/petablint.py
  petab/v2/lint.py
  petab/v2/problem.py
  petab/versions.py
  tests/v2/test_problem.py
Owners: @dweindl, @PEtab-dev/libpetab-python-maintainers

PEtab v1 to v2 converter
  petab/v2/petab1to2.py
  petab/v2/problem.py
  tests/v2/test_conversion.py
  tests/v2/test_problem.py
  tox.ini
Owners: @PEtab-dev/libpetab-python-maintainers

..
  petab/v2/petab1to2.py
Owners: @PEtab-dev/libpetab-python-maintainers

Apply suggestions from code review
  tests/v2/test_conversion.py
  tests/v2/test_problem.py
Owners: @PEtab-dev/libpetab-python-maintainers

PEtab v1 to v2 converter (#281)
  petab/v2/petab1to2.py
  petab/v2/problem.py
  tests/v2/test_conversion.py
  tests/v2/test_problem.py
  tox.ini
Owners: @PEtab-dev/libpetab-python-maintainers

Doc: fix formatting / missing type annotations
  petab/v1/problem.py
  petab/v2/lint.py
  petab/v2/problem.py
Owners: @PEtab-dev/libpetab-python-maintainers

..
  doc/modules.rst
Owners: @dweindl

depr
  petab/C.py
  petab/__init__.py
  petab/calculate.py
  petab/composite_problem.py
  petab/conditions.py
  petab/core.py
  petab/lint.py
  petab/mapping.py
  petab/measurements.py
  petab/observables.py
  petab/parameter_mapping.py
  petab/parameters.py
  petab/simplify.py
  petab/simulate.py
  petab/visualize/__init__.py
  petab/visualize/data_overview.py
  petab/visualize/lint.py
  petab/visualize/plot_data_and_simulation.py
  petab/visualize/plot_residuals.py
  petab/visualize/plotter.py
  petab/visualize/plotting.py
  petab/yaml.py
Owners: @PEtab-dev/libpetab-python-maintainers, @dilpath, @m-philipps

..
  petab/math/__init__.py
  petab/math/sympify.py
  petab/models/__init__.py
  petab/models/model.py
  petab/models/pysb_model.py
  petab/models/sbml_model.py
  petab/v1/models/__init__.py
Owners: @PEtab-dev/libpetab-python-maintainers

..
  petab/__init__.py
  petab/v1/__init__.py
  tests/v1/math/__init__.py
Owners: @PEtab-dev/libpetab-python-maintainers

Update petab/models/sbml_model.py
  petab/models/sbml_model.py
Owners: @PEtab-dev/libpetab-python-maintainers

Doc: fix formatting / missing type annotations (#292)
  doc/modules.rst
  petab/C.py
  petab/__init__.py
  petab/calculate.py
  petab/composite_problem.py
  petab/conditions.py
  petab/core.py
  petab/lint.py
  petab/mapping.py
  petab/math/__init__.py
  petab/math/sympify.py
  petab/measurements.py
  petab/models/__init__.py
  petab/models/model.py
  petab/models/pysb_model.py
  petab/models/sbml_model.py
  petab/observables.py
  petab/parameter_mapping.py
  petab/parameters.py
  petab/simplify.py
  petab/simulate.py
  petab/v1/__init__.py
  petab/v1/models/__init__.py
  petab/v1/problem.py
  petab/v2/lint.py
  petab/v2/problem.py
  petab/visualize/__init__.py
  petab/visualize/data_overview.py
  petab/visualize/lint.py
  petab/visualize/plot_data_and_simulation.py
  petab/visualize/plot_residuals.py
  petab/visualize/plotter.py
  petab/visualize/plotting.py
  petab/yaml.py
  tests/v1/math/__init__.py
Owners: @dweindl, @PEtab-dev/libpetab-python-maintainers, @dilpath, @m-philipps

Doc: versioning and deprecation policy (#277)
  doc/development.rst
  doc/index.rst
Owners: @dweindl

Update test suite branch
  tox.ini
Owners: @PEtab-dev/libpetab-python-maintainers

Fix imports related to v1 subpackage
  petab/v1/calculate.py
  petab/v1/lint.py
  petab/v1/yaml.py
  petab/v2/lint.py
  petab/v2/petab1to2.py
  petab/v2/problem.py
Owners: @PEtab-dev/libpetab-python-maintainers

Handle numpy types in sympify_petab
  petab/v1/math/sympify.py
  tests/v1/math/test_math.py
Owners: @PEtab-dev/libpetab-python-maintainers

..
  petab/petablint.py
  petab/v1/sbml.py
  petab/v1/simplify.py
  petab/v1/simulate.py
  petab/v1/visualize/data_overview.py
  tests/v1/test_lint.py
Owners: @PEtab-dev/libpetab-python-maintainers

Handle numpy types in sympify_petab (#294)
  petab/v1/math/sympify.py
  tests/v1/math/test_math.py
Owners: @PEtab-dev/libpetab-python-maintainers

fix decoration
  petab/__init__.py
Owners: @PEtab-dev/libpetab-python-maintainers

..
  petab/__init__.py
Owners: @PEtab-dev/libpetab-python-maintainers

..
  petab/__init__.py
  petab/v1/lint.py
  petab/v1/parameter_mapping.py
  petab/v1/parameters.py
Owners: @PEtab-dev/libpetab-python-maintainers

Fix imports related to v1 subpackage (#293)
  petab/__init__.py
  petab/petablint.py
  petab/v1/calculate.py
  petab/v1/lint.py
  petab/v1/parameter_mapping.py
  petab/v1/parameters.py
  petab/v1/sbml.py
  petab/v1/simplify.py
  petab/v1/simulate.py
  petab/v1/visualize/data_overview.py
  petab/v1/yaml.py
  petab/v2/lint.py
  petab/v2/petab1to2.py
  petab/v2/problem.py
  tests/v1/test_lint.py
Owners: @PEtab-dev/libpetab-python-maintainers

bump version; update changelog
  CHANGELOG.md
  petab/version.py
Owners: @PEtab-dev/libpetab-python-maintainers

add whitespace to changelog
  CHANGELOG.md
Owners: @PEtab-dev/libpetab-python-maintainers

Update CHANGELOG.md
  CHANGELOG.md
Owners: @PEtab-dev/libpetab-python-maintainers

Update CHANGELOG.md
  CHANGELOG.md
Owners: @PEtab-dev/libpetab-python-maintainers

whitespace
  CHANGELOG.md
Owners: @PEtab-dev/libpetab-python-maintainers

remove backticks from README links
  README.md
Owners: @PEtab-dev/libpetab-python-maintainers

Remove obsolute flake8 files
  .flake8
  run_flake8.sh
Owners: @PEtab-dev/libpetab-python-maintainers

Remove obsolute flake8 files (#296)
  .flake8
  run_flake8.sh
Owners: @PEtab-dev/libpetab-python-maintainers

deprecate petab.Problem
  petab/__init__.py
  petab/v1/problem.py
Owners: @PEtab-dev/libpetab-python-maintainers

Fix stacklevel
  petab/__init__.py
Owners: @PEtab-dev/libpetab-python-maintainers

use getattr
  petab/C.py
  petab/__init__.py
  petab/calculate.py
  petab/composite_problem.py
  petab/conditions.py
  petab/core.py
  petab/lint.py
  petab/mapping.py
  petab/measurements.py
  petab/observables.py
  petab/parameter_mapping.py
  petab/parameters.py
  petab/simplify.py
  petab/simulate.py
  petab/versions.py
  petab/yaml.py
Owners: @PEtab-dev/libpetab-python-maintainers, @dilpath

undo problem deprecation
  petab/v1/problem.py
Owners: @PEtab-dev/libpetab-python-maintainers

Update petab/__init__.py
  petab/__init__.py
Owners: @PEtab-dev/libpetab-python-maintainers

.github/CODEOWNERS:

# see https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# default owners
* @PEtab-dev/libpetab-python-maintainers

/petab/visualize/ @m-philipps
/tests/test_vis* @m-philipps
/petab/simulate.py @dilpath
/tests/test_simulate.py @dilpath
/doc/ @dweindl
/doc/example @m-philipps
/doc/example/example_petablint.ipynb @dweindl
