Repository PEtab-dev/libpetab-python, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PEtab-dev/libpetab-python-maintainers, @m-philipps, @dilpath, @dweindl

Fix flatten_timepoint_specific_output_overrides
  petab/core.py
  tests/test_petab.py
Owners: @PEtab-dev/libpetab-python-maintainers

Fix flatten_timepoint_specific_output_overrides (#239)
  petab/core.py
  tests/test_petab.py
Owners: @PEtab-dev/libpetab-python-maintainers

bump version; changelog
  CHANGELOG.md
  petab/version.py
Owners: @PEtab-dev/libpetab-python-maintainers

Fix pandas FutureWarning in petab/visualize/lint.py
  petab/visualize/lint.py
Owners: @m-philipps

Fix pandas FutureWarning in petab/visualize/lint.py (#242)
  petab/visualize/lint.py
Owners: @m-philipps

Add petab.Problem.n_{estimated,measurements,priors}
  petab/problem.py
  tests/test_petab.py
Owners: @PEtab-dev/libpetab-python-maintainers

Add petab.Problem.n_{estimated,measurements,priors} (#243)
  petab/problem.py
  tests/test_petab.py
Owners: @PEtab-dev/libpetab-python-maintainers

Require pyarrow
  setup.py
Owners: @PEtab-dev/libpetab-python-maintainers

Update setup.py
  setup.py
Owners: @PEtab-dev/libpetab-python-maintainers

Require pyarrow (#244)
  setup.py
Owners: @PEtab-dev/libpetab-python-maintainers

Bump version, changelog
  CHANGELOG.md
  petab/version.py
Owners: @PEtab-dev/libpetab-python-maintainers

Fix pytest.PytestRemovedIn9Warning / Marks applied to fixtures
  tests/test_visualization.py
Owners: @m-philipps

Fix pytest.PytestRemovedIn9Warning / Marks applied to fixtures (#246)
  tests/test_visualization.py
Owners: @m-philipps

Fix `SbmlModel.get_free_parameter_ids_with_values` to handle InitialAssignments
  petab/models/sbml_model.py
Owners: @PEtab-dev/libpetab-python-maintainers

float; omit non-numeric initial assignments
  petab/models/sbml_model.py
Owners: @PEtab-dev/libpetab-python-maintainers

Fix `SbmlModel.get_free_parameter_ids_with_values` to handle InitialA… (#248)
  petab/models/sbml_model.py
Owners: @PEtab-dev/libpetab-python-maintainers

Bump version; update changelog
  CHANGELOG.md
  petab/version.py
Owners: @PEtab-dev/libpetab-python-maintainers

Typehint states it is optional, but no default value is provided.
  petab/parameter_mapping.py
Owners: @PEtab-dev/libpetab-python-maintainers

get_parameter_mapping_for_condition default value update (#250)
  petab/parameter_mapping.py
Owners: @PEtab-dev/libpetab-python-maintainers

maint: black -> ruff
  .pre-commit-config.yaml
  petab/calculate.py
  petab/composite_problem.py
  petab/conditions.py
  petab/core.py
  petab/lint.py
  petab/mapping.py
  petab/measurements.py
  petab/models/model.py
  petab/observables.py
  petab/parameter_mapping.py
  petab/parameters.py
  petab/problem.py
  petab/sbml.py
  petab/simplify.py
  petab/visualize/__init__.py
  petab/visualize/cli.py
  petab/visualize/data_overview.py
  petab/visualize/helper_functions.py
  petab/visualize/plot_data_and_simulation.py
  petab/visualize/plot_residuals.py
  petab/visualize/plotter.py
  petab/visualize/plotting.py
  petab/yaml.py
  pyproject.toml
  setup.py
  tests/test_combine.py
  tests/test_lint.py
  tests/test_measurements.py
  tests/test_observables.py
  tests/test_parameter_mapping.py
  tests/test_petab.py
  tests/test_simulate.py
Owners: @PEtab-dev/libpetab-python-maintainers, @m-philipps, @dilpath

..
  petab/visualize/__init__.py
Owners: @m-philipps

Doc: Exclude private members
  doc/conf.py
  petab/visualize/plotter.py
Owners: @dweindl, @m-philipps

Vis: Make line plot markers configurable
  petab/visualize/plotter.py
Owners: @m-philipps

maint: black -> ruff (#251)
  .pre-commit-config.yaml
  petab/calculate.py
  petab/composite_problem.py
  petab/conditions.py
  petab/core.py
  petab/lint.py
  petab/mapping.py
  petab/measurements.py
  petab/models/model.py
  petab/observables.py
  petab/parameter_mapping.py
  petab/parameters.py
  petab/problem.py
  petab/sbml.py
  petab/simplify.py
  petab/visualize/__init__.py
  petab/visualize/cli.py
  petab/visualize/data_overview.py
  petab/visualize/helper_functions.py
  petab/visualize/plot_data_and_simulation.py
  petab/visualize/plot_residuals.py
  petab/visualize/plotter.py
  petab/visualize/plotting.py
  petab/yaml.py
  pyproject.toml
  setup.py
  tests/test_combine.py
  tests/test_lint.py
  tests/test_measurements.py
  tests/test_observables.py
  tests/test_parameter_mapping.py
  tests/test_petab.py
  tests/test_simulate.py
Owners: @PEtab-dev/libpetab-python-maintainers, @m-philipps, @dilpath

..
  .github/workflows/ci_tests.yml
  doc/conf.py
  petab/calculate.py
  petab/conditions.py
  petab/core.py
  petab/measurements.py
  petab/models/model.py
  petab/observables.py
  petab/parameters.py
  petab/problem.py
  petab/sampling.py
  petab/sbml.py
  petab/simulate.py
  petab/visualize/data_overview.py
  petab/visualize/plotting.py
  pyproject.toml
  setup.py
  tests/test_lint.py
  tests/test_parameters.py
  tests/test_petab.py
  tests/test_simulate.py
  tests/test_visualization.py
  tests/test_visualization_data_overview.py
  tox.ini
Owners: @PEtab-dev/libpetab-python-maintainers, @dweindl, @dilpath, @m-philipps

Doc: Exclude private members (#253)
  doc/conf.py
  petab/visualize/plotter.py
Owners: @dweindl, @m-philipps

dict
  petab/visualize/plotter.py
Owners: @m-philipps

maint: fix code style, check on gha (#252)
  .github/workflows/ci_tests.yml
  doc/conf.py
  petab/calculate.py
  petab/conditions.py
  petab/core.py
  petab/measurements.py
  petab/models/model.py
  petab/observables.py
  petab/parameters.py
  petab/problem.py
  petab/sampling.py
  petab/sbml.py
  petab/simulate.py
  petab/visualize/data_overview.py
  petab/visualize/plotting.py
  pyproject.toml
  setup.py
  tests/test_lint.py
  tests/test_parameters.py
  tests/test_petab.py
  tests/test_simulate.py
  tests/test_visualization.py
  tests/test_visualization_data_overview.py
  tox.ini
Owners: @PEtab-dev/libpetab-python-maintainers, @dweindl, @dilpath, @m-philipps

Vis: Make line plot markers configurable (#254)
  petab/visualize/plotter.py
Owners: @m-philipps

Validator: check datasetId in visualizations table exists in measurements table
  petab/visualize/lint.py
  tests/test_visualization.py
Owners: @m-philipps

Validator: check datasetId in visualizations table exists in measurements table (#255)
  petab/visualize/lint.py
  tests/test_visualization.py
Owners: @m-philipps

Require python>=3.10
  .github/workflows/ci_tests.yml
  .readthedocs.yaml
  README.md
  setup.py
Owners: @PEtab-dev/libpetab-python-maintainers

Require python>=3.10 (#256)
  .github/workflows/ci_tests.yml
  .readthedocs.yaml
  README.md
  setup.py
Owners: @PEtab-dev/libpetab-python-maintainers

fix typo
  petab/visualize/helper_functions.py
Owners: @m-philipps

Let dependabot update actions
  .github/dependabot.yml
Owners: @PEtab-dev/libpetab-python-maintainers

GHA: trigger workflows on pull requests from forks
  .github/workflows/ci_tests.yml
Owners: @PEtab-dev/libpetab-python-maintainers

Let dependabot update actions (#258)
  .github/dependabot.yml
Owners: @PEtab-dev/libpetab-python-maintainers

Fix typo (#257)
  petab/visualize/helper_functions.py
Owners: @m-philipps

Require positive bounds for log-scale parameters
  petab/lint.py
Owners: @PEtab-dev/libpetab-python-maintainers

add timecourse.py:* to __init__
  petab/__init__.py
Owners: @PEtab-dev/libpetab-python-maintainers

.github/CODEOWNERS:

# see https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# default owners
* @PEtab-dev/libpetab-python-maintainers

/petab/visualize/ @m-philipps
/tests/test_vis* @m-philipps
/petab/simulate.py @dilpath
/tests/test_simulate.py @dilpath
/doc/ @dweindl
/doc/example @m-philipps
/doc/example/example_petablint.ipynb @dweindl
