Repository PEtab-dev/libpetab-python, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PEtab-dev/libpetab-python-maintainers, @m-philipps, @dilpath, @dweindl

..
  petab/v2/__init__.py
  petab/v2/petab1to2.py
  petab/v2/problem.py
  pytest.ini
Owners: @PEtab-dev/libpetab-python-maintainers

Faster ConditionsTable.from_df
  petab/v1/lint.py
  petab/v2/core.py
Owners: @PEtab-dev/libpetab-python-maintainers

allow extra
  petab/v2/__init__.py
  petab/v2/core.py
Owners: @PEtab-dev/libpetab-python-maintainers

upconversion
  petab/v2/petab1to2.py
  tests/v2/test_conversion.py
Owners: @PEtab-dev/libpetab-python-maintainers

more tests
  doc/modules.rst
  petab/v1/math/sympify.py
  petab/v2/core.py
  petab/v2/problem.py
  tests/v1/math/test_math.py
  tests/v2/test_core.py
Owners: @dweindl, @PEtab-dev/libpetab-python-maintainers

more tests
  petab/v2/core.py
  tests/v2/test_core.py
Owners: @PEtab-dev/libpetab-python-maintainers

todo
  petab/v2/core.py
  petab/v2/lint.py
Owners: @PEtab-dev/libpetab-python-maintainers

cond. free syms
  petab/v2/conditions.py
  petab/v2/core.py
  petab/v2/lint.py
  tests/v2/test_core.py
Owners: @PEtab-dev/libpetab-python-maintainers

..
  petab/v2/core.py
  tests/v2/test_conversion.py
Owners: @PEtab-dev/libpetab-python-maintainers

more coherent naming
  petab/v2/C.py
  petab/v2/core.py
  petab/v2/lint.py
  petab/v2/problem.py
  tests/v2/test_core.py
Owners: @PEtab-dev/libpetab-python-maintainers

estimate -> bool
  petab/v2/core.py
  petab/v2/problem.py
Owners: @PEtab-dev/libpetab-python-maintainers

Update petab.v2 (#361)
  doc/modules.rst
  petab/v1/lint.py
  petab/v1/math/sympify.py
  petab/v2/C.py
  petab/v2/__init__.py
  petab/v2/conditions.py
  petab/v2/core.py
  petab/v2/lint.py
  petab/v2/petab1to2.py
  petab/v2/problem.py
  pytest.ini
  tests/v1/math/test_math.py
  tests/v2/test_conversion.py
  tests/v2/test_core.py
  tests/v2/test_lint.py
  tests/v2/test_problem.py
Owners: @dweindl, @PEtab-dev/libpetab-python-maintainers

Add `evaluate: bool` argument to math parser
  petab/v1/math/SympyVisitor.py
  petab/v1/math/sympify.py
  tests/v1/math/test_math.py
Owners: @PEtab-dev/libpetab-python-maintainers

Check measurements after observables
  petab/v1/lint.py
Owners: @PEtab-dev/libpetab-python-maintainers

lint: Don't fail on missing noiseFormula
  petab/v1/measurements.py
Owners: @PEtab-dev/libpetab-python-maintainers

doc: Coherent naming
  petab/v2/core.py
Owners: @PEtab-dev/libpetab-python-maintainers

lint: Don't fail on missing noiseFormula (#367)
  petab/v1/lint.py
  petab/v1/measurements.py
Owners: @PEtab-dev/libpetab-python-maintainers

Add `evaluate: bool` argument to math parser (#365)
  petab/v1/math/SympyVisitor.py
  petab/v1/math/sympify.py
  tests/v1/math/test_math.py
Owners: @PEtab-dev/libpetab-python-maintainers

Add petab-compatible sympy string-printer
  petab/v1/math/__init__.py
  petab/v1/math/printer.py
  petab/v1/math/sympify.py
  petab/v2/core.py
  tests/v1/math/test_math.py
  tests/v2/test_problem.py
Owners: @PEtab-dev/libpetab-python-maintainers

Add petab-compatible sympy string-printer (#364)
  petab/v1/math/__init__.py
  petab/v1/math/printer.py
  petab/v1/math/sympify.py
  petab/v2/core.py
  tests/v1/math/test_math.py
  tests/v2/test_problem.py
Owners: @PEtab-dev/libpetab-python-maintainers

v2: Parameter.estimate -> bool
  petab/v2/core.py
  petab/v2/petab1to2.py
  petab/v2/problem.py
  tests/v2/test_problem.py
Owners: @PEtab-dev/libpetab-python-maintainers

..
  petab/v2/core.py
Owners: @PEtab-dev/libpetab-python-maintainers

v2: Parameter.estimate -> bool (#368)
  petab/v2/core.py
  petab/v2/petab1to2.py
  petab/v2/problem.py
  tests/v2/test_problem.py
Owners: @PEtab-dev/libpetab-python-maintainers

Add SbmlModel.{to_antimony,to_sbml_str}
  petab/v1/models/sbml_model.py
  tests/v1/test_sbml.py
Owners: @PEtab-dev/libpetab-python-maintainers

Add v2.Problem.model_dump
  petab/v2/problem.py
Owners: @PEtab-dev/libpetab-python-maintainers

Set `__all__` in v1.math.printer
  petab/v1/math/printer.py
Owners: @PEtab-dev/libpetab-python-maintainers

Add SbmlModel.{to_antimony,to_sbml_str} (#371)
  petab/v1/models/sbml_model.py
  tests/v1/test_sbml.py
Owners: @PEtab-dev/libpetab-python-maintainers

v2: Allow applying multiple conditions simultaneously
  petab/v2/core.py
  petab/v2/lint.py
  petab/v2/problem.py
  tests/v2/test_core.py
  tests/v2/test_lint.py
Owners: @PEtab-dev/libpetab-python-maintainers

doc
  petab/v2/problem.py
Owners: @PEtab-dev/libpetab-python-maintainers

Revert "tuncation/transformation"
  petab/v1/distributions.py
Owners: @PEtab-dev/libpetab-python-maintainers

review
  doc/example/distributions.ipynb
  petab/v1/distributions.py
Owners: @m-philipps, @PEtab-dev/libpetab-python-maintainers

review
  doc/example/distributions.ipynb
Owners: @m-philipps

_bounds_truncate
  petab/v1/priors.py
  petab/v1/sampling.py
  tests/v1/test_priors.py
Owners: @PEtab-dev/libpetab-python-maintainers

Fix pyproject.toml license information
  pyproject.toml
Owners: @PEtab-dev/libpetab-python-maintainers

Update tests/v1/test_priors.py
  tests/v1/test_priors.py
Owners: @PEtab-dev/libpetab-python-maintainers

..
  tests/v1/test_priors.py
Owners: @PEtab-dev/libpetab-python-maintainers

..
  tests/v1/test_priors.py
Owners: @PEtab-dev/libpetab-python-maintainers

..
  petab/v1/distributions.py
Owners: @PEtab-dev/libpetab-python-maintainers

Add v2.Problem.model_dump (#372)
  petab/v2/problem.py
Owners: @PEtab-dev/libpetab-python-maintainers

trunc scale
  petab/v1/distributions.py
Owners: @PEtab-dev/libpetab-python-maintainers

.github/CODEOWNERS:

# see https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# default owners
* @PEtab-dev/libpetab-python-maintainers

/petab/visualize/ @m-philipps
/tests/test_vis* @m-philipps
/petab/simulate.py @dilpath
/tests/test_simulate.py @dilpath
/doc/ @dweindl
/doc/example @m-philipps
/doc/example/example_petablint.ipynb @dweindl
