Repository PEtab-dev/libpetab-python, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PEtab-dev/libpetab-python-maintainers, @m-philipps, @dilpath, @dweindl

.github/CODEOWNERS:

# see https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# default owners
* @PEtab-dev/libpetab-python-maintainers

/petab/visualize/ @m-philipps
/tests/test_vis* @m-philipps
/petab/simulate.py @dilpath
/tests/test_simulate.py @dilpath
/doc/ @dweindl
/doc/example @m-philipps
/doc/example/example_petablint.ipynb @dweindl

Add constants + I/O for new conditions/experiments tables
  doc/modules.rst
  petab/schemas/petab_schema.v2.0.0.yaml
  petab/v2/C.py
  petab/v2/__init__.py
  petab/v2/experiments.py
  petab/v2/lint.py
  petab/v2/problem.py
  pytest.ini
  tests/v2/test_experiments.py
  tests/v2/test_lint.py
  tests/v2/test_problem.py
Owners: @dweindl, @PEtab-dev/libpetab-python-maintainers

Fix test_priors_to_measurements
  tests/v1/test_priors.py
Owners: @PEtab-dev/libpetab-python-maintainers

Add constants + I/O for new conditions/experiments tables (#334)
  doc/modules.rst
  petab/schemas/petab_schema.v2.0.0.yaml
  petab/v2/C.py
  petab/v2/__init__.py
  petab/v2/experiments.py
  petab/v2/lint.py
  petab/v2/problem.py
  pytest.ini
  tests/v2/test_experiments.py
  tests/v2/test_lint.py
  tests/v2/test_problem.py
Owners: @dweindl, @PEtab-dev/libpetab-python-maintainers

Update tests/v1/test_priors.py
  tests/v1/test_priors.py
Owners: @PEtab-dev/libpetab-python-maintainers

Add `SbmlModel.from_antimony`
  petab/v1/models/sbml_model.py
  pyproject.toml
  tests/v1/test_combine.py
  tests/v1/test_deprecated.py
  tests/v1/test_lint.py
  tests/v1/test_observables.py
  tests/v1/test_parameter_mapping.py
  tests/v1/test_petab.py
  tests/v1/test_sbml.py
  tests/v1/test_simplify.py
Owners: @PEtab-dev/libpetab-python-maintainers

Fix test_priors_to_measurements (#336)
  tests/v1/test_priors.py
Owners: @PEtab-dev/libpetab-python-maintainers

Add `SbmlModel.from_antimony` (#331)
  petab/v1/models/sbml_model.py
  pyproject.toml
  tests/v1/test_combine.py
  tests/v1/test_deprecated.py
  tests/v1/test_lint.py
  tests/v1/test_observables.py
  tests/v1/test_parameter_mapping.py
  tests/v1/test_petab.py
  tests/v1/test_sbml.py
  tests/v1/test_simplify.py
Owners: @PEtab-dev/libpetab-python-maintainers

Store problem configuration in Problem
  petab/v1/problem.py
  pyproject.toml
Owners: @PEtab-dev/libpetab-python-maintainers

Store problem configuration in Problem (#326)
  petab/v1/problem.py
  pyproject.toml
Owners: @PEtab-dev/libpetab-python-maintainers

Store problem configuration in `v2.Problem`
  petab/v2/problem.py
Owners: @PEtab-dev/libpetab-python-maintainers

Refactor priors
  doc/example.rst
  doc/example/distributions.ipynb
  doc/modules.rst
  petab/v1/distributions.py
  petab/v1/parameters.py
  petab/v1/sampling.py
  tests/v1/test_distributions.py
  tests/v1/test_priors.py
Owners: @dweindl, @m-philipps, @PEtab-dev/libpetab-python-maintainers

Implement proper truncation for prior distributions
  doc/example/distributions.ipynb
  petab/v1/distributions.py
Owners: @m-philipps, @PEtab-dev/libpetab-python-maintainers

Update petab/v2/problem.py
  petab/v2/problem.py
Owners: @PEtab-dev/libpetab-python-maintainers

Store problem configuration in `v2.Problem` (#338)
  petab/v2/problem.py
Owners: @PEtab-dev/libpetab-python-maintainers

v2: Adapt to long conditions table
  petab/v1/__init__.py
  petab/v1/lint.py
  petab/v2/C.py
  petab/v2/__init__.py
  petab/v2/_helpers.py
  petab/v2/conditions.py
  petab/v2/lint.py
  petab/v2/petab1to2.py
  petab/v2/problem.py
  tests/v2/test_conversion.py
  tests/v2/test_problem.py
  tox.ini
Owners: @PEtab-dev/libpetab-python-maintainers

Refactor priors
  doc/example.rst
  doc/example/distributions.ipynb
  doc/modules.rst
  petab/v1/distributions.py
  petab/v1/parameters.py
  petab/v1/sampling.py
  tests/v1/test_distributions.py
  tests/v1/test_priors.py
Owners: @dweindl, @m-philipps, @PEtab-dev/libpetab-python-maintainers

Refactor priors
  doc/example.rst
  doc/example/distributions.ipynb
  doc/modules.rst
  petab/v1/distributions.py
  petab/v1/parameters.py
  petab/v1/sampling.py
  tests/v1/test_distributions.py
  tests/v1/test_priors.py
Owners: @dweindl, @m-philipps, @PEtab-dev/libpetab-python-maintainers

once more
  doc/example/distributions.ipynb
  petab/v1/C.py
  petab/v1/distributions.py
  petab/v1/priors.py
  petab/v1/sampling.py
  tests/v1/test_distributions.py
  tests/v1/test_priors.py
Owners: @m-philipps, @PEtab-dev/libpetab-python-maintainers

..
  doc/example/distributions.ipynb
  petab/v1/distributions.py
  petab/v1/priors.py
  tests/v1/test_distributions.py
Owners: @m-philipps, @PEtab-dev/libpetab-python-maintainers

apply suggestions
  petab/v1/distributions.py
  tests/v1/test_distributions.py
Owners: @PEtab-dev/libpetab-python-maintainers

Refactor priors (#329)
  doc/example.rst
  doc/example/distributions.ipynb
  doc/modules.rst
  petab/v1/C.py
  petab/v1/distributions.py
  petab/v1/parameters.py
  petab/v1/priors.py
  petab/v1/sampling.py
  tests/v1/test_distributions.py
  tests/v1/test_priors.py
Owners: @dweindl, @m-philipps, @PEtab-dev/libpetab-python-maintainers

v2: Adapt to long conditions table
  petab/v1/__init__.py
  petab/v1/lint.py
  petab/v2/C.py
  petab/v2/__init__.py
  petab/v2/_helpers.py
  petab/v2/conditions.py
  petab/v2/lint.py
  petab/v2/petab1to2.py
  petab/v2/problem.py
  tests/v2/test_conversion.py
  tests/v2/test_problem.py
  tox.ini
Owners: @PEtab-dev/libpetab-python-maintainers

Update petab/v2/lint.py
  petab/v2/lint.py
Owners: @PEtab-dev/libpetab-python-maintainers

review
  petab/v2/petab1to2.py
Owners: @PEtab-dev/libpetab-python-maintainers

review
  petab/v2/lint.py
Owners: @PEtab-dev/libpetab-python-maintainers

Implement proper truncation for prior distributions
  doc/conf.py
  doc/example/distributions.ipynb
  petab/v1/distributions.py
  petab/v1/priors.py
  tests/v1/test_distributions.py
Owners: @dweindl, @m-philipps, @PEtab-dev/libpetab-python-maintainers

optional
  petab/v1/priors.py
  petab/v1/sampling.py
  tests/v1/test_priors.py
Owners: @PEtab-dev/libpetab-python-maintainers

Fix `get_required_parameters_for_parameter_table`
  petab/v1/parameters.py
  petab/v2/lint.py
  petab/v2/problem.py
Owners: @PEtab-dev/libpetab-python-maintainers

set
  petab/v1/parameters.py
  petab/v2/lint.py
Owners: @PEtab-dev/libpetab-python-maintainers

Fix `get_required_parameters_for_parameter_table` (#340)
  petab/v1/parameters.py
  petab/v2/lint.py
  petab/v2/problem.py
Owners: @PEtab-dev/libpetab-python-maintainers

fix cdf normalization
  petab/v1/distributions.py
  tests/v1/test_distributions.py
Owners: @PEtab-dev/libpetab-python-maintainers

set diff
  petab/v2/lint.py
Owners: @PEtab-dev/libpetab-python-maintainers

review
  petab/v1/distributions.py
  petab/v1/priors.py
Owners: @PEtab-dev/libpetab-python-maintainers

v2: Adapt to long conditions table (#339)
  petab/v1/__init__.py
  petab/v1/lint.py
  petab/v1/parameters.py
  petab/v2/C.py
  petab/v2/__init__.py
  petab/v2/_helpers.py
  petab/v2/conditions.py
  petab/v2/lint.py
  petab/v2/petab1to2.py
  petab/v2/problem.py
  tests/v2/test_conversion.py
  tests/v2/test_problem.py
  tox.ini
Owners: @PEtab-dev/libpetab-python-maintainers

fix cdf/pdf outside bounds / <0
  doc/example/distributions.ipynb
  petab/v1/distributions.py
Owners: @m-philipps, @PEtab-dev/libpetab-python-maintainers

Always sample correctly, but optionally use unscaled pdf for neglogprior
  petab/v1/priors.py
Owners: @PEtab-dev/libpetab-python-maintainers

Fix Prior.from_par_dict for missing priorParameters columns
  petab/v1/priors.py
Owners: @PEtab-dev/libpetab-python-maintainers

Fix Prior.from_par_dict for missing priorParameters columns (#341)
  petab/v1/priors.py
Owners: @PEtab-dev/libpetab-python-maintainers

prior always on linear
  doc/example/distributions.ipynb
  petab/v1/C.py
  petab/v1/distributions.py
  petab/v1/priors.py
  petab/v1/sampling.py
  tests/v1/test_priors.py
Owners: @m-philipps, @PEtab-dev/libpetab-python-maintainers

Fix Prior.from_par_dict for missing priorParameters columns (#341)
  petab/v1/priors.py
Owners: @PEtab-dev/libpetab-python-maintainers
